body{
    text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}
.center-image {
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 1px 1px;
        border: 1px;
        padding: 10px;
}
.about-me {
    background: url("../images/sec.jpeg");
    background-image: no-repeat;
    background-size: cover;
}
.my-hobbies {
    border: 0px solid grey;
    background-image: url("../images/first.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-left: solid brown;
    border-right: solid brown;
    border-top: solid brown;
    border-bottom: solid brown;
    width: 100%;
    height: 50%;
    margin: 0%;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
img {
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 5px;
  width: 550px;
}
html {
    overflow-y: scroll;
    height: 100%;
}
.navs {
    font-size: 20px;
}
.contacts {
    border-image: 250px;
    text-align: center;
    font-size: 25px;
    -webkit-text-fill-color: black;
    text-emphasis: float;right: 10px
}
.contact me {
    position: absolute;
    top: 8px;
    right: 16px;
}
